page-about {
    .headcolor {
        color: green;
        font-weight: bold;
        text-align: center;
        font-size: 17px;
    }
    .content {
        font-weight: 600;
        text-align: justify;
    }
}
